<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Rescue Time Report</title>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

		<style type="text/css">
            ${demo.css}
            #div-filter {
                width:40%;
                border-bottom: 1px solid #AAA;
            }
            #tbl-filter td {
                padding: 5px;
                min-width: 70px;
            }
            .responsive-table {
                width: 80%;
                border-collapse: collapse;
                margin: 0 auto;
            }
            /* Zebra striping */
            .responsive-table tr:nth-of-type(odd) {
                background: #eee;
            }
            .responsive-table th {
                background: #333;
                color: white;
                font-weight: bold;
            }
            .responsive-table td, th {
                padding: 6px;
                border: 1px solid #ccc;
                text-align: left;
            }
		</style>

		<script type="text/javascript">
            $(document).ready(function () {
                var now = new Date();
                var dateFormat = 'yy-mm-dd';

                $( "#restrict_begin" ).datepicker({
                    dateFormat:dateFormat,
                    defaultDate:now,
                    changeMonth:true,
                    onClose: function( selectedDate ) {
                        $( "#restrict_end" ).datepicker( "option", "minDate", selectedDate );
                    }
                });
                $( "#restrict_end").datepicker({
                    dateFormat:dateFormat,
                    defaultDate:now,
                    changeMonth:true,
                    onClose: function( selectedDate ) {
                        $( "#restrict_begin" ).datepicker( "option", "maxDate", selectedDate );
                    }
                });

                //init chart
                init();
            });

            function init(){
                productivity_chart();
                activity_table();
            }

            function productivity_chart(){
                var key = $("#person option:selected").val();
                var restrict_begin = $("#restrict_begin").val();
                var restrict_end = $("#restrict_end").val();

                $.ajax({
                    url:'/rt_data',
                    data : {
                            key : key,
                            restrict_begin : restrict_begin,
                            restrict_end : restrict_end,
                            restrict_kind : 'productivity'
                    },
                    dataType : "json",
                    success : function(data){
                        draw_productivity_chart(data);
                    }
                });
            }

            function draw_productivity_chart(data){
                var datas = new Array();
                var totalTime = 0;
                var rows = data.rows

                for(var i in rows){
                    var name = "";
                    if(rows[i][0] == 1){
                        name = "Very Productive";
                    }else if(rows[i][0] == 2){
                        name = "Productive";
                    }else if(rows[i][0] == 3){
                        name = "Neutral";
                    }else if(rows[i][0] == 4){
                        name = "Very Distracting";
                    }else if(rows[i][0] == 5){
                        name = "Distracting";
                    }

                    var time = rows[i][1];
                    datas.push({name:name, y:time});
                    totalTime += time;
                }

                // Create the chart
				$('#container').highcharts({
                    chart: {type: 'column'},
                    title: {text: 'Productivity'},
                    xAxis: {type: 'category'},
                    yAxis: {title: {text: 'Total percent'}},
                    legend: {enabled: false},
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true,
                                formatter:function() {
                                    var pcnt = (this.y / totalTime) * 100;
                                    return Highcharts.numberFormat(pcnt) + '%';
                                }
                            }
                        }
                    },
                    tooltip: {
                        formatter: function(){
                            var seconds = this.y;
                            var numhours = Math.floor(seconds / 3600);
                            var numminutes = Math.floor((seconds % 3600) / 60);
                            var string = numhours + " hours " + numminutes + " minutes ";

                            return '<span style="color:{point.color}"><b>'+ string + '</b><br/>';
                        }
                    },
                    series: [{
                        name: 'Brands',
                        colorByPoint: true,
                        data: datas
                    }]
                });
            }

            function activity_table(){
                var key = $("#person option:selected").val();
                var restrict_begin = $("#restrict_begin").val();
                var restrict_end = $("#restrict_end").val();

                $.ajax({
                    url:'/rt_data',
                    data : {
                            key : key,
                            restrict_begin : restrict_begin,
                            restrict_end : restrict_end,
                            restrict_kind : 'activity'
                    },
                    dataType : "json",
                    success : function(data){
                        $("#act-body").html("");

                        var rows = data.rows;
                        for(var i in rows){
                            $("#act-body").append(
                                "<tr>" +
                                "<td>"+seconds_to_string(rows[i][1])+"</td>" +
                                "<td>"+rows[i][3]+"</td>" +
                                "<td>"+rows[i][4]+"</td>" +
                                "</tr>"
                            );
                        }
                    }
                });
            }

            function seconds_to_string(seconds){
                var numhours = Math.floor(seconds / 3600);
                var numminutes = Math.floor((seconds % 3600) / 60);
                return (numhours > 0 ? numhours + " hours " : "") + (numminutes > 0 ?numminutes + " minutes " : "");
            }
		</script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
	</head>
	<body>
        <div id="div-filter">
            <table id="tbl-filter">
                <tr>
                    <td>Name</td>
                    <td colspan="2">
                        <select name="person" id="person">
                            <option value="B63YS_f6OiMyG6V4fFgF7TUjkbyewTGaw3rBgQ5_">Nanda Nandya Putra</option>
                            <option value="B63CX0sPwRh2PVeNWrBiWZ7_6I982HdmBBMpZb9j">Rayhan Firdaus</option>
                            <option value="B63fNdbZua35Q1FL3t3sOat1CAqULTaSoJ2Y6uhL">Yandi Fitriyanto</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>
                        <input type="text" name="restrict_begin" id="restrict_begin"/>
                    </td>
                    <td>
                        <input type="text" name="restrict_end" id="restrict_end"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="button" name="filter" id="btn-filter" value="Filter" style="width : 100px;" onclick="init()"/>
                    </td>
                </tr>
            </table>
        </div>

        <br/>

        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>

        <br/>

        <table class="responsive-table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Activity</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody id="act-body">

            </tbody>
        </table>
	</body>
</html>
